@media print {
    body * {
      visibility: hidden !important;
    }
    #print-receipt, #print-receipt * {
      visibility: visible !important;
    }
    #print-receipt {
      position: absolute !important;
      left: 0; top: 0; width: 100vw; height: 100vh;
      background: white !important;
      z-index: 9999 !important;
    }
    .print\:hidden {
      display: none !important;
    }
    .print\:opacity-100 {
      opacity: 1 !important;
    }
  }